@charset "UTF-8";
body {
  display: block;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.button.button-default {
  background: transparent;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #17c0ab;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}
.button.button-default:hover {
  background-color: #003b35;
}
.button.button-default:active {
  background-color: #17c0ab;
}
.button.button-1 {
  background-color: #17c0ab;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  font-family: "Lato", sans-serif;
}
.button.button-1:hover {
  background-color: #129282;
}
.button.button-2 {
  background-color: #003b35;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  font-family: "Lato", sans-serif;
}
.button.button-2:hover {
  background-color: #000807;
}
.button.active {
  background-color: #17c0ab;
}

.top-nav {
  background-color: #002623;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2%;
  font-family: "Inter", sans-serif;
}
.top-nav .flexBox {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.top-nav .logo img {
  max-width: 100px;
  height: auto;
}
.top-nav nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.top-nav nav ul li {
  display: inline-block;
  margin-right: 20px;
}
.top-nav nav ul li a {
  text-decoration: none;
  color: #fff;
}
.top-nav nav ul li a img {
  display: inline-block;
  height: auto;
  margin-bottom: -18%;
  margin-right: -10%;
}
.top-nav .extra-links {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}
.top-nav .extra-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.top-nav .extra-links ul li {
  display: inline-block;
  margin-right: 20px;
}
.top-nav .extra-links ul li a {
  text-decoration: none;
  color: #fff;
}

.banner {
  background: linear-gradient(to bottom, #002623, #000101);
  color: #fff;
}
.banner .banner-content {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding: 50px 3%;
}
@media (min-width: 1024px) {
  .banner .banner-content {
    flex-direction: row;
  }
}
.banner .banner-content .text {
  flex: 1;
  font-family: "Inter", sans-serif;
}
.banner .banner-content .text h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #17c0ab;
}
.banner .banner-content .text h1 span {
  color: white;
  display: block;
}
.banner .banner-content .text p {
  font-size: 1.2em;
  margin-bottom: 20px;
}
.banner .banner-content .text h3 {
  font-size: 2.5em;
}
.banner .banner-content .image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.banner .banner-content .image img {
  max-width: 100%;
  height: auto;
}

.banner-listing .banner-content {
  text-align: center;
  padding: 11em 3em 9em;
}
.banner-listing .banner-content .text h3 {
  margin-bottom: 0;
}
.banner-listing .banner-content .text p {
  margin-bottom: 4.5em;
}
.banner-listing .banner-content .text span {
  display: block;
}
.banner-listing .banner-content .text .button {
  border-radius: 3px;
}

.who-is-it-for,
.why-choose-us {
  background-color: #f6fff5;
  padding: 50px 3%;
  text-align: center;
}
.who-is-it-for .section-header,
.why-choose-us .section-header {
  margin-bottom: 40px;
  overflow: hidden;
}
.who-is-it-for .section-header span,
.why-choose-us .section-header span {
  font-size: 1em;
  color: #666;
}
.who-is-it-for .section-header img,
.why-choose-us .section-header img {
  margin: 10px auto;
  display: block;
}
.who-is-it-for .section-header h2,
.why-choose-us .section-header h2 {
  font-size: 1.5em;
  margin-top: 10px;
}
.who-is-it-for .section-header p,
.why-choose-us .section-header p {
  font-family: "Lato", sans-serif;
  color: #050d42;
  line-height: 1.5em;
  margin-bottom: 0;
}
.who-is-it-for .section-header ul,
.why-choose-us .section-header ul {
  text-align: left;
  list-style: none;
}
.who-is-it-for .section-header ul li,
.why-choose-us .section-header ul li {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #050d42;
  line-height: 2em;
}
.who-is-it-for .section-header ul li::before,
.why-choose-us .section-header ul li::before {
  content: "•";
  color: #050d42;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.who-is-it-for .card-container,
.why-choose-us .card-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .who-is-it-for .card-container,
  .why-choose-us .card-container {
    gap: 1rem;
  }
}
@media (min-width: 1280px) {
  .who-is-it-for .card-container,
  .why-choose-us .card-container {
    gap: 1rem;
  }
}
.who-is-it-for .card-container .card,
.why-choose-us .card-container .card {
  width: 284px;
  background-color: #ffffff;
  padding: 50px 20px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.who-is-it-for .card-container .card:hover,
.why-choose-us .card-container .card:hover {
  transform: translateY(-5px);
}
.who-is-it-for .card-container .card img,
.why-choose-us .card-container .card img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.who-is-it-for .card-container .card .card-number,
.why-choose-us .card-container .card .card-number {
  color: white;
  display: inline-block;
  margin: 2em 0 2.5em;
  font-size: 0.8em;
}
.who-is-it-for .card-container .card p,
.why-choose-us .card-container .card p {
  margin-top: 10px;
  color: white;
  font-weight: 500;
  line-height: 1.8em;
  font-weight: bold;
}
.who-is-it-for .card-container .card p span,
.why-choose-us .card-container .card p span {
  display: block;
}
.who-is-it-for .card-container .card:nth-child(1) .card-number,
.why-choose-us .card-container .card:nth-child(1) .card-number {
  color: #000101;
}
.who-is-it-for .card-container .card:nth-child(1) p,
.why-choose-us .card-container .card:nth-child(1) p {
  color: #000101;
}
.who-is-it-for .card-container .card:nth-child(2),
.why-choose-us .card-container .card:nth-child(2) {
  background-color: #003b35;
}
.who-is-it-for .card-container .card:nth-child(3),
.why-choose-us .card-container .card:nth-child(3) {
  background-color: #12baa3;
}
.who-is-it-for .card-container .card:nth-child(4),
.why-choose-us .card-container .card:nth-child(4) {
  background-color: #5fd58c;
}

.how-it-work-listing {
  padding: 50px 11%;
}
.how-it-work-listing .flex-center {
  display: flex;
  justify-content: center;
}
.how-it-work-listing .listing-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.how-it-work-listing .listing-card {
  width: calc(44.8% - 10px);
  margin-bottom: 20px;
  font-size: 18px;
  padding: 1em 1.5em;
  background-color: #f6fff5 !important;
}
.how-it-work-listing .listing-card img {
  width: auto;
  height: 4.2em;
}
.how-it-work-listing .listing-card h3 {
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 0;
}
.how-it-work-listing .listing-card p {
  margin-top: 5px;
  color: #666;
  line-height: 1.4em;
}

.why-choose-us .card:nth-child(1) {
  background-color: #5fd58c;
}
.why-choose-us .card:nth-child(2) {
  background-color: #12baa3 !important;
}
.why-choose-us .card:nth-child(3) {
  background-color: #003b35 !important;
}
.why-choose-us .card:nth-child(4) {
  background-color: #12baa3 !important;
}

.how-it-work {
  background: linear-gradient(to bottom, #002623, #000101);
  color: #fff;
  padding: 50px 3%;
}
.how-it-work .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .how-it-work .section-header {
    flex-direction: row;
  }
}
.how-it-work .section-header h2 {
  font-size: 2.3em;
}
.how-it-work .section-header .tab-nav {
  margin-bottom: 1rem;
}
.how-it-work .section-header .tab-nav .button {
  margin-left: 1em;
}
.how-it-work .content {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.how-it-work .content.active {
  opacity: 1;
}
.how-it-work p {
  font-size: 1.3em;
  margin-top: 0;
  margin-bottom: 25px;
  font-family: "Inter", sans-serif;
}
.how-it-work .card-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.how-it-work .card-container .card {
  width: 229px;
  height: 280px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.how-it-work .card-container .card:hover {
  transform: translateY(-5px);
}
@media (min-width: 768px) {
  .how-it-work .card-container {
    gap: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .how-it-work .card-container {
    gap: 2rem;
    justify-content: space-between;
  }
}

.flex-wrap-image {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.flex-wrap-image .column {
  flex: 1;
  min-width: 0;
  color: #013f3a;
}
.flex-wrap-image .column img {
  max-width: 100%;
  height: auto;
  display: block;
}
.flex-wrap-image .column .text-content {
  padding-left: 5.25em;
  font-family: "Inter", sans-serif;
}
.flex-wrap-image .column .text-content h1 {
  font-size: 3em;
  margin-bottom: 0.6em;
  line-height: 0.8em;
  margin-top: 0.229em;
  color: #12baa3;
}
.flex-wrap-image .column .text-content h6 {
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
  text-shadow: 1px 5px 6px rgba(1, 63, 58, 0.44);
}
.flex-wrap-image .column .text-content p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.build-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ecf9eb;
  padding: 12.5rem 15% 6.25rem;
}
.build-project img {
  width: 100%;
  height: auto;
}
.build-project .text-content {
  margin-top: 2em;
  text-align: center;
  font-family: "DM Sans", sans-serif;
}
.build-project .text-content h4 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #000;
}
.build-project .text-content h4 span {
  color: #013f3a;
}
.build-project .text-content p {
  font-size: 0.9em;
  line-height: 1.8em;
  color: #64748b;
  margin-top: 0;
}
.build-project .text-content .button {
  margin: 0 10px;
  font-family: "Manrope", sans-serif;
}

.taxonomy .taxonomy-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}
.taxonomy .taxonomy-container .taxonomy-card {
  border: 1px solid #d9d9d9;
  border-radius: 16px;
  width: 22%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.taxonomy .taxonomy-container .taxonomy-card a {
  text-decoration: none;
  color: white;
  background-color: #12baa3;
  display: block;
  bottom: 0;
  line-height: 2.5em;
  text-align: left;
  padding: 0 1.5em;
}
.taxonomy .taxonomy-container .taxonomy-card .image {
  height: 150px;
  display: block;
  overflow: hidden;
  border-radius: 16px 16px 0 0;
}
.taxonomy .taxonomy-container .taxonomy-card .text {
  text-align: left;
  padding: 11px 1.5em 15px;
  flex-grow: 1;
  font-size: 0.9em;
}
.taxonomy .taxonomy-container .taxonomy-card .text span {
  font-weight: 300;
  display: flex;
  gap: 0.3em;
}
.taxonomy .taxonomy-container .taxonomy-card .text span img {
  display: inline-block;
}
.taxonomy .taxonomy-container .taxonomy-card .text h3 {
  font-weight: bold;
  margin-bottom: 1.87em;
  margin-top: 3px;
}
.taxonomy .taxonomy-container .taxonomy-card .text ul {
  list-style: none;
  display: flex;
  gap: 0.5em;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}
.taxonomy .taxonomy-container .taxonomy-card .text ul li {
  position: relative;
  padding-left: 13px;
  font-weight: 300;
}
.taxonomy .taxonomy-container .taxonomy-card .text ul li::before {
  content: url("images/airplane-1.png");
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: 32%;
  transform: translateY(-50%);
}
.taxonomy .navigations {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.transform-land {
  padding: 50px 3% 190px;
  background-color: #f6fff5;
}
.transform-land .text {
  flex: 1;
  font-family: "Inter", sans-serif;
}
.transform-land .text p {
  font-size: 1.2em;
  margin-bottom: 1em;
}
.transform-land .text h3 {
  font-size: 3.5em;
  margin-bottom: 0;
}
.transform-land .text h3 span {
  display: block;
}
.transform-land .text .button {
  border-radius: 3px;
}

footer {
  background-color: #003b35;
  padding: 4em 2em;
  min-height: 300px;
}/*# sourceMappingURL=styles.css.map */